/* Put your CSS here */
html, body {
    margin: 20px;
    font-family: Arial, sans-serif; 
    padding: 0;
    margin: 0;
    font-size: 16px;
}

*{
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header{
  background: #FFF;  
  margin: 0;
  padding-left: 2em;
}

.attending-sessions{
  float: right;
  margin-right: 1em; 
  margin-top: 1em;
}

.content{
  padding: 0 2em;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.session-item{
  padding: 1em 0;
}

nav{
  background: #94D2EB;
  padding: .5em;
}

nav>ul{
  padding: 1em 2em;
}

.nav-item{
  display: inline-block;
  margin: 0 1em 0 0;
}

.nav-item>a{
  color: black;
}

.nav-item>.active{
  font-weight: bold;
}

.session-list{
  margin-bottom: 1em;
}

.nav-item>a:visited{
  color: black;
}

nav>a{
  color:white;
}

.big-input{
  padding: .5em;
  border: 2px solid #CCC;
  font-size: 1em;
  width: 250px;
}

.big-input-select{
  height: 2em;
  padding: 1em .5em;
}

.form-row>label{
  display: block;
  font-weight: bold;
  margin-bottom: .25em;
}

.form-row{
  margin: 1em 0;
}

.session-form{
  float: left;
}

.session-info{
  float: left;
  margin-top: 1em;
  margin-left: 10em;
}

.button{
  border: 1px solid #999;
  padding: .5em 1em;
  cursor: pointer;
  background: #c9c9c9;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1em;
  color: black;
  margin: 0;
}